//Sass functions.
@import 'imports/functions';


//Variables.
@import 'variables/colors';
@import 'variables/animations';
@import 'variables/hover-states';


//Normalize.
@import 'imports/normalize';


//Grids.
@import 'susy';
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: outside,
);
@import 'variables/grid-classes';


//Typography.
@import 'styles/typography/typographystack';
	//Typeplate - typographic boilerplate.
	@import 'typl8/typeplate';
	@import 'styles/typography/typography';


//Modules.
@import 'modules/accessibility';


//Media.
@import 'media/media';


//Layout.
@import 'styles/layout/containers';


//Elements.
@import 'styles/elements/buttons';
@import 'styles/elements/forms';
@import 'styles/elements/links';
@import 'styles/elements/images';


//Navigation.
@import 'navigation/menus';

//Modals.
@import 'styles/modals/modals';

//Views.
@import 'views/header';
@import 'views/footer';

//Pages.
@import 'views/home/home';
@import 'views/play/play';
