/* Coolors Exported Palette - coolors.co/242331-533e2d-a27035-b88b4a-ddca7d */

/*
#444433
#998877
#ffffff
#ddddcc
#ccbb99
#554422
#aa8855
#ffffff
#eeddcc
#ddbb88

*/

$night: #242331; //rgba(36, 35, 49, 100)
$blue: #243245;
$bright-blue: saturate(lighten($blue, 20%), 35%);
$brown: #433a3f;
$burnt: #533e2d; //rgba(83, 62, 45, 100)
$gold: #ECD077; //rgba(162, 112, 53, 100)
$orange: $gold;
$yellow: #b88b4a; //rgba(184, 139, 74, 100)
$lightyellow: #ddca7d; //rgba(221, 202, 125, 100)
$green: #4CC66E;
$red: #BD3229;
$cream:#c7bfb7;

$neutral-input-color: lighten($blue, 15%);
$confirm-input-color: lighten($blue, 30%);
$active-input-color: lighten($blue, 45%);

$color__link: saturate(lighten($blue, 15%), 30%);
$color__link-hover: $red;
$color__link-visited: saturate(lighten($blue, 15%), 30%);
