/* Coolors Exported Palette - coolors.co/242331-533e2d-a27035-b88b4a-ddca7d */

$color1: #242331; //rgba(36, 35, 49, 100)
$color2: #533e2d; //rgba(83, 62, 45, 100)
$color3: #a27035; //rgba(162, 112, 53, 100)
$color4: #b88b4a; //rgba(184, 139, 74, 100)
$color5: #ddca7d; //rgba(221, 202, 125, 100)