<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Hamlet</title>
	<meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="/assets/js/global.min.js"></script>
	<script type="text/javascript" src="/assets/js/play.min.js"></script>

	<script>
	  (function(d) {
	    var config = {
	      kitId: 'rjv2zrb',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>

	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>	
	<div style="display:none;">
		<%=  erb :'svg/svg-source.svg' %>	
	</div>
	
	<button class="pushMenu__toggle js-pushMenu__toggle" aria-controls="primary-menu" aria-expanded="false">
    <div class="menu-toggle__top"></div>
    <div class="menu-toggle__middle"></div>
    <div class="menu-toggle__bottom"></div>           
  </button>

	<div class="outer-wrapper">

		<div class="wrapper">
			<nav class="pushMenu">
				<h4 class="site-title menu-title"><a href="/" rel="bookmark">Hamlet</a></h4>
				<ul id="play__navigation" class="pushMenu__main">
					<a class="pushMenu__header pushMenu__header--link" href="/about" rel="bookmark"><button class="js-pushMenu__main-toggle pushMenu__main-toggle" type="button">
						<h4 class="pushMenu__header">About</h4>
					</button></a>
				</ul>
				<div class="utility-nav">
					<h4 class="menu-title">Log in</h3>
					<form class="form__login" action="/api/users/login" method="post" id="js-login-form">
						<div class="form__feedback"></div>
						<label for="login-form__user_email">
							Your email
							<input type="email" name="user_email" placeholder="Your email" id="login-form__user_email">
						</label>
						
						<label for="login-form__user_password">
							Your password
							<input type="password" name="user_password" id="login-form__user_password">
						</label>
						
						<input type="submit" value="Log In">

						<button class="form__back-button" type="button">&loarr; Back</button>
					</form>
				</div>
				<div class="form__signup">
					<h4 class="menu-title">Sign Up</h3>
					<form action="api/users/signup" method="post" id="js-signup-form">
						<div class="form__feedback"></div>

						<label for="form-signup__user_name">
							User name
							<input type="text" name="user_name" id="form-signup__user_name" placeholder="Your username">	
						</label>
						
						<label for="form-signup__user_email">
							Your email
							<input type="email" name="user_email" id="form-signup__user_email" placeholder="Your email">	
						</label>
						
						<label for="form-signup__user_password">
							Your password
							<input type="password" name="user_password" id="form-signup__user_password">	
						</label>
						
						<label for="form-signup__user_password_confirm">
							Confirm your password
							<input type="password" name="user_password_confirm" id="form-signup__user_password_confirm">	
						</label>
						
						<input type="submit" value="Sign Up">

						<button class="form__back-button" type="button">&loarr; Back</button>
					</form>
				</div>
				<button class="form__signup-button" type="button">Sign Up</button>
				<span class="sep"> or </span>
				<button class="form__login-button" type="button">Log in &roarr;</button>
			</nav>	

			<div class="inner-wrapper">
				<div class="site-header">
					<div class="currentUser-panel"></div>
					<div class="site-header__wrapper"></div>
				</div>

				<div class="play col-group">
					<ul id="act__container"></ul>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
	</div>


	<script type="text/template" id="homePageHeaderTemplate">
		<div class="site-branding site-branding--home">
			<h1 class="site-title">
				<a href="/" rel="bookmark">Hamlet,</a>
			</h1>
			<h4 class="site-subtitle">Prince of Denmark.</h4>
		</div>
		<div class="current-scene-indicator">
			<span class="current-scene-indicator__act">Act <%%= act %></span> - 
			<span class="current-scene-indicator__scene">Scene <%%= scene %></span>
		</div>	 
	</script>

	<script type="text/template" id="aboutPageHeaderTemplate">
		<div class="site-branding site-branding--about">
			<div class="site-logo">
				<svg viewBox="0 0 100 100" class="shape-skull">
					<use xlink:href="#final_skull"></use>
				</svg>
			</div>
			<h5 class="site-author">Shakespeare&rsquo;s Tragedy of</h5>
			<h1 class="site-title">
				<a href="/" rel="bookmark">Hamlet,</a>
			</h1>
			<h4 class="site-subtitle">Prince of Denmark.</h4>
			<p class="site-subtext">arranged for representation at<br>
			the Royal Princess’s Theatre<br>
			with explanatory notes, by</p>
			<h5 class="site-arranger">Charles Kean, F.S.A.</h5>
			<h6 class="site-performance-date">As performed on Monday, January 10, 1859</h6>
		</div>
		<div class="intro__text">
			<h3>Dramatis Personæ </h3>
			<table>
				<tbody>
					<tr>
						<td class="character-name">CLAUDIUS</td>
						<td>(King of Denmark)</td>
					</tr>
					<tr>
						<td class="character-name">HAMLET</td>
						<td>(son to the former and nephew to the present King)</td>
					</tr>
					<tr>
						<td class="character-name">POLONIUS</td>
						<td>(Lord Chamberlain)</td>
					</tr>
					<tr>
						<td class="character-name">HORATIO</td>
						<td>(friend to Hamlet)</td>					
					</tr>
					<tr>
						<td class="character-name">LAERTES</td>
						<td>son to Polonius</td>
					</tr>
					<tr>
						<td class="character-name">ROSENCRANTZ</td>
						<td></td>
					</tr>
					<tr>
						<td class="character-name">GUILDENSTERN</td>
						<td>(Courtiers)</td>
					</tr>
					<tr>
						<td class="character-name">OSRICK</td>
						<td></td>
					</tr>
					<tr>
						<td class="character-name">PRIEST</td>
						<td></td>
					</tr>
					<tr>
						<td class="character-name">MARCELLUS</td>
						<td></td>
					</tr>
					<tr>
						<td class="character-name">BERNARDO</td>
						<td></td>
					</tr>
					<tr>
						<td class="character-name">FRANCISCO</td>
						<td></td>
					</tr>
					<tr>
						<td class="character-name">GHOST OF HAMLET&rsquo;S FATHER</td>
						<td></td>
					</tr>
					<tr>
					  <td class="character-name">FIRST GRAVEDIGGER</td>
					  <td></td>
					</tr>
					<tr>
					  <td class="character-name">SECOND GRAVEDIGGER</td>
					  <td></td>
					</tr>
					<tr>
					  <td class="character-name">FIRST PLAYER</td>
					  <td></td>
					</tr>
					<tr>
					  <td class="character-name">SECOND PLAYER</td>
					  <td></td>
					</tr>
					<tr>
					  <td class="character-name">GERTRUDE</td>
					  <td>Queen of Denmark, and mother of Hamlet</td>
					</tr>
					<tr>
					  <td class="character-name">OPHELIA</td>
					  <td>daughter of Polonius</td>
					</tr>
					<tr>
					  <td class="character-name">ACTRESS</td>
					  <td></td>
					</tr>
				</tbody>
			</table>

			<h3>Preface.</h3>

			<p class="typl8-drop-cap">The play of <em>Hamlet</em> is above all others the most stupendous monument
			of Shakespeare&rsquo;s genius, standing as a beacon to command the wonder
			and admiration of the world, and as a memorial to future generations,
			that the mind of its author was moved by little less than inspiration.
			<em>Lear</em>, with its sublime picture of human misery;&mdash;<em>Othello</em>, with its
			harrowing overthrow of a nature great and amiable;&mdash;<em>Macbeth</em>, with
			its fearful murder of a monarch, whose "virtues plead like angels
			trumpet-tongued against the deep damnation of his taking
			off,"&mdash;severally exhibit, in the most pre-eminent degree, all those
			mighty elements which constitute the perfection of tragic art&mdash;the
			grand, the pitiful, and the terrible. <em>Hamlet</em> is a history of mind&mdash;a
			tragedy of thought. It contains the deepest philosophy, and most
			profound wisdom; yet speaks the language of the heart, touching the
			secret spring of every sense and feeling. Here we have no ideal
			exaltation of character, but life with its blended faults and
			virtues,&mdash;a gentle nature unstrung by passing events, and thus
			rendered "out of tune and harsh."</p>

			<p>The original story of Hamlet is to be found in the Latin pages of the
			Danish historian, Saxo Grammaticus, who died in the year 1208.
			Towards the end of the sixteenth century, the French author, Francis
			de Belleforest, introduced the fable into a collection of novels,
			which were translated into English, and printed in a small quarto
			black letter volume, under the title of the "Historie of Hamblett,"
			from which source Shakespeare constructed the present tragedy.</p>

			<p>Saxo has placed his history about 200 years before Christianity, when
			barbarians, clothed in skins, peopled the shores of the Baltic. The
			poet, however, has so far modernised the subject as to make Hamlet a
			Christian, and England tributary to the "sovereign majesty of
			Denmark." A date can therefore be easily fixed, and the costume of
			the tenth and eleventh centuries may be selected for the purpose.
			There are but few authentic records in existence, but these few
			afford reason to believe that very slight difference existed between
			the dress of the Dane and that of the Anglo-Saxon of the same period.</p>

			<p>Since its first representation, upwards of two centuries and a half
			ago, no play has been acted so frequently, or commanded such
			universal admiration. It draws within the sphere of its attraction
			both the scholastic and the unlearned. It finds a response in every
			breast, however high or howeve`r humble. By its colossal aid it exalts
			the drama of England above that of every nation, past or present. It
			is, indeed, the most marvellous creation of human intellect.</p>

			<h6>CHARLES KEAN.</h6>
			
		</div>
	</script>


	<script type="text/template" id="currentUserViewTemplate">
		<div class="currentUser">
			<span>Welcome, <%%= user_name %>!</span>&mdash;<a id="js-logout" href="/api/logout">Log out</a>
		</div>
	</script>

	<script type="text/template" id="commentTemplate">
		<%% var date_created = new Date( created ); %>
		<article class="comment__wrapper">
			<header class="comment__header">
				<h6 class="comment__author"><%%= user_name %></h6>
				<span class="comment__date-created"><%%= (date_created.getMonth() + 1) + '.' + date_created.getDate() + '.' +  date_created.getFullYear() %></span>
			</header>
			<div class="comment__body">
				<%%= comment %>
			</div>
			<footer class="comment__footer">
				<%% if (!upvotes) { upvotes = [] }; if (!downvotes) { downvotes = [] }; %>
				<span class="comment__votes"><%%= (upvotes.length - downvotes.length) %></span> <a href="#downvote" class="comment__button comment__downvote">&darr;</a> <a href="/upvote" class="comment__button comment__upvote">&uarr;</a> <a href="/reply" class="comment__button comment__reply">Reply</a> <a href="#share" class="comment__button comment__share">Share</a> <a href="#edit" class="comment__button comment__edit">Edit</a>
			</footer>
		</article>
	</script>

	<script type="text/template" id="commentFormTemplate">
		<div class="commentForm__wrapper">	
			<form class="commentForm" action="/api/comments" method="post" id="<%%= formCssId %>">
				<button class="commentForm__dismiss commentForm__dismiss--top" type="button">×</button>
				<h4>Add a comment</h4>
				<div class="form__feedback"></div>
				<textarea name="comment"><%%= comment %></textarea>
				<input type="hidden" name="id" value="<%%= id %>">
				<input type="hidden" name="act" value="<%%= act %>">
				<input type="hidden" name="scene" value="<%%= scene %>">
				<input type="hidden" name="line_number" value="<%%= lineNumber %>">
				<input type="hidden" name="subline_number" value="<%%= subline_number %>">
				<input class="commentForm__submit" type="submit" value="Submit">
			</form>
		</div>
	</script>
	
	<script type="text/template" id="lineTemplate">
		<%% subline_number = 1; %>
		<p class="line <%%= character %>"><span class="character <%%= character %>"><%%= character %></span><span class="line__content"><%% for (var i = 0; i < lines.length; i++){ %><span id="line-<%%= act %>-<%%= scene %>-<%%= lineNumber %>-<%%= subline_number %>" data-cid="<%%= cid %>" data-act="<%%= act %>" data-scene="<%%= scene %>" data-line_number="<%%= lineNumber %>" data-subline_number="<%%= subline_number %>" class="line__single-line"><%%= lines[i] %><button class="js-comment-toggle js-commentForm-toggle commentForm-toggle"><svg viewBox="0 0 100 100" class="shape-wordbubble"><use xlink:href="#wordbubble"></use><text class="commentCount__indicator" x="50" y="60">+</text></svg></button><br><span class="line__comment"></span></span><%% subline_number++; %><%% } %></span></p>
	</script>

	<script type="text/template" id="actNavigationItemViewTemplate">
		<button class="js-pushMenu__main-toggle pushMenu__main-toggle" type="button">
			<h4 class="pushMenu__header">Act <%%= actNumber %></h4>
			<div class="pushMenu__open-indicator"></div>
		</button>
		<ul class="pushMenu__sub">
		<%% var sceneCounter = 1; %>
		<%% _.each(scenes, function(scene){ %>
			<li class="pushMenu__sub-item">
				<a href="/act/<%%= actNumber %>/scene/<%%= sceneCounter %>" rel="bookmark">	
					<h5 class="pushMenu__sub-item-header"><%%= scene.name %></h5>
					<em><%%= scene.setting %></em>
				</a>
			</li>
		<%% sceneCounter++; %>
		<%% }); %>
		</ul>
	</script>

	<script type="text/template" id="modalTemplate">
		<div class="modal">
			<button class="modal__dismiss modal__dismiss--top">×</button>
			<h5 class="modal__heading"><%%= heading %></h5>
			<p class="modal__body"><%%= body %></p>
			<%% if (typeof(form) !== 'undefined') { %>
			<div class="modal__form">
				<%%= form %>
			</div>
			<%% } %>
			<div class="modal__controls">
				<%% for (var i in controls) { %>
					<button class="<%%= controls[i].class %>" type="button"><%%= controls[i].value %></button>
				<%% }; %>
			</div>
		</div>
	</script>

	<script type="text/template" id="requestNewConfirmationEmailTemplate">
		<form action="/api/users/request-new-confirmation-email" method="post" id="js-request-new-confirmation-email-form">
			<div class="form__feedback"></div>
			<input type="email" name="user_email">
			<input type="password" name="user_password">
			<input type="submit" value="Submit">
		</form>
	</script>

	<script type="text/javascript" src="/assets/js/home/home.js"></script>
	<script type="text/javascript" src="/assets/js/about/about.js"></script>
	<script type="text/javascript" src="/assets/js/play-content/play-content.js"></script>
	<script type="text/javascript" src="/assets/js/modals/modals.js"></script>
	<script type="text/javascript" src="/assets/js/navigation/navigation.js"></script>
	<script type="text/javascript" src="/assets/js/router/router.js"></script>
	<script type="text/javascript" src="/assets/js/users/users.js"></script>
	<script type="text/javascript" src="/assets/js/comments/comments.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>