<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hamlet</title>

	<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script -->
	<!-- script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script -->
	<!-- script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone.js"></script -->
	<script type="text/javascript" src="/assets/js/global.min.js"></script>
	<script type="text/javascript" src="/assets/js/play.min.js"></script>

	<script>
	  (function(d) {
	    var config = {
	      kitId: 'rjv2zrb',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>

	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
	<nav class="pushMenu">
		<ul id="play__navigation" class="pushMenu__main">
		
		</ul>	
	</nav>
	<div class="site-header">
		<div class="utility-nav">
			<form action="/api/users/login" method="post" id="js-login-form">
				<div class="form__feedback"></div>
				<input type="email" name="user_email" placeholder="Your email">
				<input type="password" name="user_password">
				<input type="submit" value="Log In">
			</form>
			<a id="js-logout" href="/api/logout">Log out</a>
		</div>

		<div class="site-branding">
			<h1 class="site-title">
				<a href="/" rel="bookmark">Hamlet</a>
			</h1>
		</div>
	</div>

	<div class="form__signup">
		<h3>Sign Up</h3>
		<form action="api/users/signup" method="post" id="js-signup-form">
			<div class="form__feedback"></div>
			<input type="text" name="user_name" id="user_name" placeholder="Your username">
			<input type="email" name="user_email" id="user_email" placeholder="Your email">
			<input type="password" name="user_password" id="user_password">
			<input type="password" name="user_password_confirm" id="user_password_confirm">
			<input type="submit" value="Sign Up">
		</form>
	</div>

	<button class="pushMenu__toggle js-pushMenu__toggle">=</button>

	<div class="play col-group">
		<ul id="act__container" class="col-3-4">
		
		</ul>
	</div>

	<div class="comments__wrapper"></div>

	<script type="text/template" id="commentTemplate">
		<%% var date_created = new Date( created ); %>
		<div class="comments">
			<ul class="comment__list">
				<li class="comment">
					<article class="comment__wrapper">
						<header class="comment__header">
							<h6 class="comment__author"><%%= user_name %></h6>
							<span class="comment__date-created"><%%= (date_created.getMonth() + 1) + '.' + date_created.getDate() + '.' +  date_created.getFullYear() %></span>
						</header>
						<div class="comment__body">
							<%%= comment %>
						</div>
						<footer class="comment__footer">
							<%% if (!upvotes) { upvotes = [] }; if (!downvotes) { downvotes = [] }; %>
							<span class="comment__votes"><%%= (upvotes.length - downvotes.length) %></span> <a href="#downvote" class="comment__button comment__downvote">-</a> <a href="#upvote" class="comment__button comment__upvote">+</a> <a href="#reply" class="comment__button comment__reply">Reply</a> <a href="#share" class="comment__button comment__share">Share</a>
						</footer>
					</article>
				</li>
			</ul>
		</div>
	</script>

	<script type="text/template" id="commentFormTemplate">
		<div class="commentForm__wrapper">	
			<form class="commentForm" action="/api/comments" method="post" id="js-comment-form">
				<button class="commentForm__dismiss commentForm__dismiss--top" type="button">×</button>
				<h4>Add a comment</h4>
				<div class="form__feedback"></div>
				<textarea name="comment"></textarea>
				<input type="hidden" name="act" value="<%%= act %>">
				<input type="hidden" name="scene" value="<%%= scene %>">
				<input type="hidden" name="line_number" value="<%%= lineNumber %>">
				<input type="hidden" name="subline_number" value="<%%= subline_number %>">
				<input class="commentForm__submit" type="submit" value="Submit">
			</form>
		</div>
	</script>
	
	<script type="text/template" id="lineTemplate">
		<%% subline_number = 1; %>
		<p class="line <%%= character %>"><span class="character <%%= character %>"><%%= character %></span><span class="line__content"><%% for (var i = 0; i < lines.length; i++){ %><span id="line-<%%= act %>-<%%= scene %>-<%%= lineNumber %>" data-act="<%%= act %>" data-scene="<%%= scene %>" data-line_number="<%%= lineNumber %>" data-subline_number="<%%= subline_number %>" class="line__single-line"><%%= lines[i] %><span class="line__comment"></span><br></span><%% subline_number++; %><%% } %></span></p>
	</script>

	<script type="text/template" id="actNavigationItemViewTemplate">
		<button class="js-pushMenu__main-toggle pushMenu__main-toggle" type="button">
			<h5 class="pushMenu__header">Act <%%= actNumber %></h5>
		</button>
		<ul class="pushMenu__sub">
		<%% var sceneCounter = 1; %>
		<%% _.each(scenes, function(scene){ %>
			<li class="pushMenu__sub-item">
				<a href="/act/<%%= actNumber %>/scene/<%%= sceneCounter %>" rel="bookmark">	
					<h6><%%= scene.name %></h6>
					<em><%%= scene.setting %></em>
				</a>
			</li>
		<%% sceneCounter++; %>
		<%% }); %>
		</ul>
	</script>

	<script type="text/template" id="modalTemplate">
		<div class="modal">
			<button class="modal__dismiss modal__dismiss--top">×</button>
			<h5 class="modal__heading"><%%= heading %></h5>
			<p class="modal__body"><%%= body %></p>
			<%% if (typeof(form) !== 'undefined') { %>
			<div class="modal__form">
				<%%= form %>
			</div>
			<%% } %>
			<div class="modal__controls">
				<%% for (var i in controls) { %>
					<button class="<%%= controls[i].class %>" type="button"><%%= controls[i].value %></button>
				<%% }; %>
			</div>
		</div>
	</script>

	<script type="text/template" id="requestNewConfirmationEmailTemplate">
		<form action="/api/users/request-new-confirmation-email" method="post" id="js-request-new-confirmation-email-form">
			<div class="form__feedback"></div>
			<input type="email" name="user_email">
			<input type="password" name="user_password">
			<input type="submit" value="Submit">
		</form>
	</script>
	<div class="overlay"></div>

	<script type="text/javascript" src="/assets/js/play-content/play-content.js"></script>
	<script type="text/javascript" src="/assets/js/modals/modals.js"></script>
	<script type="text/javascript" src="/assets/js/navigation/navigation.js"></script>
	<script type="text/javascript" src="/assets/js/router/router.js"></script>
	<script type="text/javascript" src="/assets/js/users/users.js"></script>
	<script type="text/javascript" src="/assets/js/comments/comments.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>