<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hamlet</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone.js"></script>
	<script type="text/javascript" src="/assets/js/play.min.js"></script>

	<script>
	  (function(d) {
	    var config = {
	      kitId: 'rjv2zrb',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>

	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
	<div class="site-header">
		<div class="utility-nav">
			<form action="/api/users/login" method="post" id="js-login-form">
				<div class="form__feeback"></div>
				<input type="email" name="email">
				<input type="password" name="password">
				<input type="submit" value="Log In">
			</form>
			<a id="js-logout" href="/api/logout">Log out</a>
		</div>

		<div class="site-branding">
			<h1 class="site-title">
				<a href="/" rel="bookmark">Hamlet</a>
			</h1>
		</div>
	</div>

	<div class="form__signup">
		<h3>Sign Up</h3>
		<form action="api/users/signup" method="post" id="js-signup-form">
			<div class="form__feedback"></div>
			<input type="text" name="user_name" id="user_name" placeholder="Your username">
			<input type="email" name="user_email" id="user_email" placeholder="Your email">
			<input type="password" name="user_password" id="user_password">
			<input type="password" name="user_password_confirm" id="user_password_confirm">
			<input type="submit" value="Sign Up">
		</form>
	</div>

	<div class="play col-group">
		<ul id="act__container" class="col-3-4">
		
		</ul>

		<ul id="play__navigation" class="col-1-4 col-last">
			
		</ul>
	</div>

	<script type="text/javascript" src="/assets/js/app.js"></script>

	<script type="text/template" id="lineTemplate">
		<p class="line <%%= character %>"><span class="character <%%= character %>"><%%= character %></span><span class="line__content"><%%= line %></span></p>
	</script>

	<script type="text/template" id="actNavigationItemViewTemplate">
		<h5>Act <%%= actNumber %></h5>
		<ul>
		<%% var sceneCounter = 1; %>
		<%% _.each(scenes, function(scene){ %>
			<a href="/act/<%%= actNumber %>/scene/<%%= sceneCounter %>" rel="bookmark">	
				<li>
					<h6><%%= scene.name %>&mdash;<%%= scene.setting %></h6>
				</li>
			</a>
		<%% sceneCounter++; %>
		<%% }); %>
		</ul>
	</script>

	<script type="text/template" id="modalTemplate">
		<div class="modal">
			<button class="modal__dismiss modal__dismiss--top">×</button>
			<h5 class="modal__heading"><%%= heading %></h5>
			<p class="modal__body"><%%= body %></p>
			<div class="modal__controls">
				<%% for (var i in controls) { %>
					<button class="<%%= controls[i].class %>" type="button"><%%= controls[i].value %></button>
				<%% }; %>
			</div>
		</div>
	</script>
	<div class="overlay"></div>
</body>
</html>