body {
  overflow-x:hidden;
}

body,
.pushMenu {
  transition:transform 0.3s ease-in-out;
}

body.js-pushMenu--open,
.pushMenu.js-pushMenu--open {
  transform:translateX(-320px);
}

.pushMenu__toggle {
  position:absolute;
  top:1em;
  right:1em;
  z-index:1000;
}

.pushMenu {
  position:absolute;
  left:100%;
  height:100%;
  background-color:#eee;
  width:320px;
}

.pushMenu__main,
.pushMenu__sub {
  position:relative;
  list-style-type:none;
  padding:0;
  margin:0;
}

.pushMenu__sub-item.open {
	display:inline-block;
	margin-top:-3px !important;
  margin-bottom:-7px !important;
  width:100%;
  height:4.125em;
}

button.pushMenu__main-toggle {
	display:block !important;
	background-image:linear-gradient(to bottom, #eee, #ddd);
  width:100%;
  height:100%;
  text-align:left;
  padding:0;
  outline:none;
  border:none;
  margin:0 !important;
  box-shadow:none;
  &:hover {
  	transform:scale(1);
  }
}

.pushMenu__header {
	font-size:1em;
  padding:1em;
  margin:0;
  line-height: 1em;
}

.pushMenu__sub-item {
  font-size:0.6em;
  padding: 0 1em;
  background-image:linear-gradient(to bottom right, #ccc, #c2c2c2);
}

.pushMenu__sub-item a {
  color:#222;
  text-decoration:none;
}

.pushMenu__sub-item h6 {
	font-size:1em;
  margin:0;
  padding:0.8em 0 0.5em 0;
  font-style:none;
}

.pushMenu__sub-item em {
  padding-bottom:0.5em;
}

.pushMenu__sub-item {
  overflow-y:hidden;
  height:0;
  transition:height 0.3s ease-in-out;
}