.wrapper,
.pushMenu {
  transition:transform 0.3s ease-in-out;
}

.menu-title {
  text-transform: uppercase;
  margin:0.425em 0.25em 0.25em 0.25em;
  color:lighten($blue, 5%);
}

.js-pushMenu--open .wrapper{
  transform:translateX(-320px);
}

.pushMenu {
  position:absolute;
  top:0;
  left:100%;
  height:100%;
  background:linear-gradient(to bottom right, $blue, darken($night, 5%));
  width:320px;
  z-index:30000;
  overflow-y:scroll;
  @media all and (max-width:600px) {
    font-size:1.25em;
  }
}

.pushMenu__main,
.pushMenu__sub {
  position:relative;
  list-style-type:none;
  padding:0;
  margin:0;
  z-index:5000;
}

.pushMenu__open-indicator {
  position:absolute;
  width:0.5em;
  right:1em;
  top:1.25em;
  border-top:0.75em solid lighten($blue, 2.5%);
  border-left:0.5em solid transparent;
  border-right:0.5em solid transparent;
  transition:transform 0.3s ease-in-out;
  transform:rotateZ(-90deg);
  .open & {
    transform:rotateZ(0);
  }
}

.open .pushMenu__sub-item {
	display:block;
  width:100%;
}

button.pushMenu__main-toggle {
  position:relative;
	display:block !important;
	background:$blue;
  width:100%;
  height:100%;
  text-align:left;
  padding:0;
  outline:none;
  border:none;
  margin:0 !important;
  box-shadow:none;
  &:hover {
  	transform:scale(1);
  }
  &::after {
    content:'';
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1px;
    background-image:linear-gradient(to right, $blue, lighten($blue, 5%) 60%, $blue);
  }
}

.pushMenu__header {
	font-size:1em;
  padding:1em;
  margin:0;
  line-height: 1em;
  font-variant: normal;
  text-transform: none;
  color:$active-input-color;
  .open & {
    color:$yellow;
  }
}

.pushMenu__sub-item {
  position:relative;
  overflow-y:hidden;
  height:0;
  font-size:0.8em;
  padding: 0 0.8em;
  background:lighten($blue, 2.5%);
  &::after {
    content:'';
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1px;
    background-image:linear-gradient(to right, $blue, lighten($blue, 7%), $blue);
    z-index:10000;
  }
}

.pushMenu__sub-item a {
  text-decoration:none;
}

.pushMenu__sub-item-header {
  @extend %typl8-ot--smcp;
  text-transform: lowercase;
	font-size:1.3em;
  margin:0;
  padding:0.4em 0 0.2em 0;
  font-style:normal;
  color:darken($night, 5%);
}

.pushMenu__sub-item em {
  padding-bottom:0.5em;
  color:$yellow;
  font-size:0.8em;
}

.pushMenu__toggle {
  position:fixed;
  top:1em;
  right:1em;
  font-size:100%;
  height:1.5em;
  width:1.5em;
  padding:0;
  margin:0;
  display:block;
  z-index:5000;
  background:none;
  outline:none;
  border:none;
  box-shadow:none;
  overflow:visible;
  &:hover {
    cursor:pointer;
  }
  &:focus {
    outline:none;
  }
  .menu-toggle__top,
  .menu-toggle__middle,
  .menu-toggle__bottom {
    position:absolute;
    height:0.1875em;
    width:100%;
    background-color:$night;
    transition:all 0.2s ease-out;
  }
  .menu-toggle__top {
    top:0;
    transform-origin:100% 0;
  }
  .menu-toggle__middle {
    top:45%;
  }
  .menu-toggle__bottom {
    bottom:0;
    transform-origin:100% 100%;
  }
}

.js-pushMenu--open .pushMenu__toggle {
  .menu-toggle__top {
    transform:rotateZ(-45deg) scaleX(1.25);
    background-color:$yellow;
  }
  .menu-toggle__middle {
    transform:scaleX(0);
  }
  .menu-toggle__bottom {
    transform:rotateZ(45deg) scaleX(1.25);
    background-color:$yellow;
  }
}

.pushMenu .utility-nav,
.pushMenu .form__signup {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image:linear-gradient(to bottom, lighten($blue, 5%), darken($blue, 10%));
  z-index:10000;
  transition:transform 0.3s ease-in-out;
  transform:translateX(100%);
  &.open {
    transform:translateX(0);
  }
}

.pushMenu .utility-nav .menu-title,
.pushMenu .form__signup .menu-title {
  color:$night;
  padding-left:0.125em;
}

.pushMenu .utility-nav form,
.pushMenu .form__signup form  {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:1em;
  margin-bottom: 0;
  background-color:transparent;
}

.pushMenu .utility-nav form input,
.pushMenu .form__signup form input {
  font-size:0.8em;
  @media all and (max-width: 1000px) {
    font-size:1.125em;  
  }
  height:2em;
  margin:0 0 0.5em 0;
  width:100%;
}

.pushMenu .utility-nav form input[type="submit"],
.pushMenu .form__signup form input[type="submit"] {
  font-size:0.8em;
  @media all and (max-width: 1000px) {
    font-size:1.125em;  
  }
  height:2em;
  margin:0.5em 0 0.5em 0;
  width:100%;
}

button.form__login-button {
  position:absolute;
  left:50%;
  bottom:0.8em;
}

button.form__signup-button {
  position:absolute;
  right:50%;
  bottom:0.8em;
}

.pushMenu .sep {
  position:absolute;
  bottom:0.5em;
  left:140px;
  width:40px;
  text-align:center;
  font-size:1.25em;
  height:2em;
}

button.form__signup-button,
button.form__login-button,
button.form__back-button {
  background:none;
  outline:none;
  border:none;
  box-shadow:none;
  font-size:1.25em;
  height:2em;
  margin-bottom:0;
  text-align:center;
  text-transform: none;
  font-family:$serif;
  font-variant: normal;
  font-weight:400;
}

button.form__back-button {
  width:100%;
  text-align: right;
  padding:0;
}