a {
  transition:all 0.3s ease-in-out;
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus,
	&:hover,
	&:active {
		outline: 0;
	}
	@extend %hover-color-orange;
}

.footnote__link {
	@include typl8-smallcaps(current-color, 400);
}
