//Clean sticky footer
html, body {
  height:100%; //clean sticky footer
  color: $typl8-copy-color;
}

$footer-height:10em;

div.outer-wrapper {
	position:relative;
	background:$cream;
	height: 100%;
	overflow:hidden;
	z-index:1;
}

div.wrapper {
	position:relative;
	left:0;
	height:100%;
	z-index:20000;
}

.inner-wrapper {
	position:relative;
	height:100%;
	overflow-y:scroll;
	z-index:1;
}

div.footer-wrapper {
	width:100%; //clean sticky footer
	height:$footer-height; //clean sticky footer
}