.comments {
	position:relative;
	font-family:sans-serif;
	font-style:normal;
}

.comments .comments__list {
	margin:0;
	padding:0;
	list-style-type:none;
}

.comments .comment {
	background-color:#f5f5f5;
	font-size:0.6em;
	padding:0.5em;
	margin-top:1px;
	margin-bottom:1px;
}

.comments .comment__body {
	padding:0.5em 0;
}

.comments .comment__header,
.comments .comment__footer {
	@extend .clearfix;
}

.comments .comment__author {
	font-size:1em;
	line-height:1.414;
	font-family:sans-serif;
	display:block;
	float:left;
	margin-right:0.5em;
	margin-bottom:0;
	color:lighten($blue, 50%);
}

.comments .comment__date-created {
	color:#bbb;
}

.comments .comment__footer > * {
	float:left;
	margin-right:0.5em;
	padding-top:.125em;
	line-height:1.5em;
}

.comments .comment__votes {
	position:relative;
	top:0.3em;
	font-size:0.8em;
	border:1px solid #bbb;
	border-radius:0.5em;
	min-width:1.625em;
	padding-left:0.25em;
	padding-right:0.275em;
	text-align:center;
	transition:color 0.3s ease-in-out;
	color:#bbb;
}

.comments .comment__upvote,
.comments .comment__downvote,
.comments .comment__reply,
.comments .comment__share {
	color:#bbb;
}

.comments .comment__upvote:hover {
	color:$green;
}
.comments .comment__downvote:hover {
	color:$red;
}

.commentForm {
	font-style:normal;
	position:relative;
	margin:0.5em 0;
}

.commentForm h4 {
	margin-bottom:0;
}