.comments {
	@extend .clearfix;
	position:relative;
	font-family:sans-serif;
	font-style:normal;
}

.comments .comments__list {
	margin:0;
	padding:0;
	list-style-type:none;
	clear:both;
}

.comments .comment {
	padding:0.5em;
}

.comments .comment,
.comments span.js-commentForm-toggle,
.comments span.js-hide-comments {
	background-color:#f5f5f5;
	font-size:0.6em;
	margin-top:1px;
	margin-bottom:1px;
	overflow-y:hidden;
	display:none;
}

.comments span.js-commentForm-toggle,
.comments span.js-hide-comments {
	padding-top:0.8em;
	width:12em;
	font-family:$serif;
	font-style:italic;
	background-color:transparent;
	transition:color 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		color:$bright-blue;
	}
}
.comments span.js-commentForm-toggle {
	float:left;
}

.comments span.js-hide-comments {
	float:right;
	text-align:right;
}

.comments .comment__body {
	padding:0.5em 0;
}

.comments .comment__header,
.comments .comment__footer {
	@extend .clearfix;
}

.comments .comment__author {
	font-size:1em;
	line-height:1.414;
	font-family:sans-serif;
	display:block;
	float:left;
	margin-right:0.5em;
	margin-bottom:0;
	color:lighten($blue, 50%);
}

.comments .comment__date-created {
	color:#bbb;
}

.comments .comment__footer > * {
	float:left;
	margin-right:0.5em;
	padding-top:.125em;
	line-height:1.5em;
}

.comments .comment__votes {
	position:relative;
	top:0.3em;
	font-size:0.8em;
	border:1px solid #bbb;
	border-radius:0.5em;
	min-width:1.625em;
	padding-left:0.25em;
	padding-right:0.275em;
	text-align:center;
	transition:color 0.3s ease-in-out;
	color:#bbb;
}

.comments .comment__upvote,
.comments .comment__downvote,
.comments .comment__reply,
.comments .comment__share {
	color:#bbb;
}

.comments .comment__upvote:hover {
	color:$green;
}
.comments .comment__downvote:hover {
	color:$red;
}

.commentForm {
	font-style:normal;
	position:relative;
	margin:0.5em 0 -1em 0;
	z-index:1000;
}

.commentForm h4 {
	margin-bottom:0;
}

.js-line__hasComment {
	border-bottom:1px dotted $blue;
}

button.commentForm-toggle {
	opacity:0;
	transform:translateX(-100%);
	position:absolute;
	bottom:0em;
	left:100%;
	margin:0 0 0 0.5em;
	width:2.75em;
	height:2.75em;
	background-image:none;
	background:transparent;
	text-align:center;
	padding:0;
	border:none;
	outline:none;
	box-shadow: none;
	fill:transparent;
	stroke:#999;
	stroke-width:15;
	&:hover {
		transform:none !important;
		color:$active-input-color;
		stroke:$active-input-color;
		text {
			fill:$active-input-color;
		}
	}
	&:focus {
		outline:none;
	}
	text {
		transition:all 0.3s ease-in-out;
		font-family:sans-serif;
		font-weight:400;
		font-style:normal;
		stroke:none;
		font-size:40px;
		fill:#999;
		text-anchor:middle;
	}
	&.open,
	.line__single-line:hover & {
		opacity:1;
		transform:translateX(0);
	}
}